project:
  type: website
  output-dir: docs

execute:
  echo: false

website:
  title: "fish"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - info.qmd
      - about.qmd


format:
  html:
    theme:
      - cerulean
      - brand
    css: styles.css
    toc: true

editor: visual

